.bibkey { 
    color: var(--text-accent); 
    /* font-weight: bold; */ 
    opacity: 0.65;
}

.bibtex-field-name, .bibtex-entrytype { 
    opacity: 0.5; 
}

.bibtex-field-value { 
    opacity: 0.65; 
    font-weight: bold; 
}

.bibkey-invalid-key { 
    color: var(--text-error); 
    opacity: 0.6; 
    text-decoration: line-through; 
}

.bibtex-file-item { 
    cursor: pointer; 
    padding: 8px 10px; 
    border-radius: var(--radius-s); 
}

.bibtex-file-item:hover { 
    background-color: var(--background-modifier-hover); 
}

/* Styling for the autocomplete suggestion pop-up */
.bibtex-suggestion-item {
    display: flex;
    flex-direction: column; /* Stack key and details vertically */
    padding: 8px !important;
    cursor: pointer;
    border-bottom: 1px solid var(--background-modifier-border);
}

.bibtex-suggestion-item:last-child {
    border-bottom: none;
}

/* Style for the main citation key */
.bibkey-suggestion-key {
    /*font-weight: bold;*/
    font-size: 0.9em;
    /*color: var(--text-faint);*/
    color: var(--text-accent);
    opacity: 0.65;
    margin-bottom: 4px; /* Space between key and details */
    font-family: var(--font-monospace); /* Use monospace font for the key */
}

/* Container for the details below the key */
.bibkey-suggestion-details-container {
    display: flex;
    flex-direction: column;
    gap: 2px; /* Small space between detail lines */
}

/* Style for the author/editor line */
.bibkey-suggestion-author {
    color: var(--text-normal);
    font-size: 1em;
    /*font-weight: bold;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Style for the year line */
.bibkey-suggestion-year {
    /*color: var(--text-muted);*/
    font-size: 1em;
}

/* Style for the title line */
.bibkey-suggestion-title {
    /*color: var(--text-faint);*/
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
